/* styles.css */

body {
    margin: 0;
    padding: 0;
    background-color: #fff; /* Set background color to white */
}

header {
    text-align: center; /* Center align header content */
    padding: 20px 0; /* Add padding top and bottom */
  }

header h1 {
    margin: 0; /* Remove default margin */
    font-size: 70px; /* Adjust font size */
}

main {
    text-align: center; /* Center align main content */
    margin-top: 20px; /* Add margin to create space between header and image */
}

main img {
    max-width: 100%; /* Ensure the image fits within the container */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Ensure the image is centered properly */
    margin: 0 auto; /* Center the image horizontally */
}

footer {
    text-align: center; /* Center align footer content */
    padding: 20px 0; /* Add padding top and bottom */
}
